<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <title>Zarządzaj profilem</title>
</head>
<body>

<h2><a href="/menu">Menu</a></h2>
<a href="/changePassword">Zmień hasło</a>

<div class="form-group">
<form th:action="@{/editUser}" method="post" th:object="${user}">
    <h2>Imię<input type="text" class="form-control" th:field="*{firstName}" placeholder="Imię"  /></h2>
    <h2>Nazwisko <input type="text" class="form-control" th:field="*{lastName}" placeholder="Nazwisko"  /> </h2>
    <input type="submit"  class="btn btn-primary" value="Zapisz" />

    <input type="hidden" th:field="*{id}" placeholder="ID" /> <br/>
    <input type="hidden" th:field="*{enabled}" placeholder="enabled" /> <br/>
    <input type="hidden" th:field="*{userName}" placeholder="userName" /> <br/>
    <input type="hidden" th:field="*{password}" placeholder="password" /> <br/>

</form>
</div>



</body>
</html>