<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <title>Zarządzaj uprawnieniami</title>
</head>


<table class="table table-striped">
    <thead>
    <th th:text="${user.firstName}+' '+${user.lastName}"></th>
    <th th:text="${user.userName}"></th>

    </thead>

    <tr th:each="role:${roles}">
        <td th:if="${role.userName}==${user.userName}" th:text="${role.role}"></td>
        <td th:if="${role.userName}==${user.userName}"><a th:href="'/removeRole?id='+${role.id}">Usuń rolę</a></td>
    </tr>


</table>

<form action="/addRole" method="post">
    <input type="hidden" th:field="${user.userName}" name="username" /> <br/>

    <select class="form-control" name="selectedRole">
        <option>ROLE_GUEST</option>
        <option>ROLE_USER</option>
        <option>ROLE_ADMIN</option>
    </select>
    <input type="submit" class="btn btn-primary" value="Dodaj rolę"/>
</form>

</body>
</html>