<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <title>Lista użytkowników</title>
</head>


<table class="table table-striped">
    <thead>
    <th>Imię i nazwisko</th>
    <th>Nazwa użytkownika</th>
    <th>Status</th>
    <th></th>
    </thead>


    <tr th:each="user:${users}">


        <td th:text="${user.firstName}+' '+${user.lastName}"></td>
        <td th:text="${user.userName}"></td>
        <div th:unless="${user.enabled} ==true">
            <td th:text="NIEAKTYWNY"></td>
        </div>
        <div th:if="${user.enabled} ==true">
            <td th:text="AKTYWNY"></td>
        </div>
        <td><a th:href="'/uprawnienia?id='+${user.id}">Pokaż uprawnienia</a></td>
    </tr>


</table>


</body>
</html>